*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
}
body{
    background-color: #58A7AF;
}
.display{
    display: flex;
    justify-content: center;
    align-content: center;
}
.head{
    background-color: #4D5A49;
    width: 1000px;
    height: 100px;
    border-radius: 30px 30px 0 0 ;
    -webkit-border-radius: 30px 30px 0 0 ;
    -moz-border-radius: 30px 30px 0 0 ;
    -ms-border-radius: 30px 30px 0 0 ;
    -o-border-radius: 30px 30px 0 0 ;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head #res{
    color: white;
    font-size: 50px;
    
}
.display2{
    display: flex;
    justify-content: center;
    align-items:center;
}
.body{
    
    background-color: #797471;
    width: 1000px;
    height: 862px;
    border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -ms-border-radius: 0 0 30px 30px;
    -o-border-radius: 0 0 30px 30px;
    flex-direction: row;
}
.body .btn{
    margin-top: 8%;
    width: 100px;
    height: 100px;
    background-color: #F29923;
    box-shadow: 8px 8px 17px 5px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.body .btn h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -60px;
}